* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #262627;
  color: #DADADB;
  background-image: url('/images/alabama.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  background-color: rgba(38, 38, 39, 0.7);
}

.main-container {
  width: 70%;
  margin: 0 auto;
  padding: 0 0;
  padding-top: 100px;
  position: sticky;
  top: 120px;
  z-index: 5;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;

  }

  .main-container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

a {
  text-decoration: none;
  color: #DADADB;
  font-size: 1rem;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 999;
  background: inherit;
  top: 0;
  background-color: #427AA1;
}

.nav-container a:hover {
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .nav-container {
    padding: 1rem 0;
  }
}

.cta-btn {
  background-color: #2fac66;
  color: #1D1E20;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #427aa1;
}

.logo-img {
  border-radius: 50%;
}

/* Footer */
hr {
  border: none;
  background-color: #9B9C9D;
  height: 1px;
  margin: 0 auto 0;
  background-color: rgba(38, 38, 39, 0.7);
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: rgba(38, 38, 39, 0.7);
}

.footer-container p {
  font-size: 0.8rem;
  color: #9B9C9D;
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #9B9C9D;
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #DADADB;
}

/* Hero */

.hero-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20rem 0;
}

.hero-container .profile-img {
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.hero-container .hero-text {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .hero-container .hero-text {
    width: 100%;
  }
}

.hero-container .hero-text h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-container .hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-container .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.hero-container .social-icons a {
  color: #9B9C9D;
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
}

.hero-container .social-icons a:hover {
  color: #DADADB;
}

/* About */
.about-container {
  padding: 2rem 0;
  max-width: 900px;
  margin: auto;
  padding-top: 10rem;
  font-size: 1.1rem;
}

.about-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-text {
  background-color: rgba(38, 38, 39, 0.7);
  padding: 1.5rem;
  border-radius: 1rem;
}

.about-text p {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
  }

  .about-container .flex-about .about-img {
    width: 100%;
    height: auto;
  }
}

/* Skills */
.skills-container {
  padding: 10rem 0;
}

.skills-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-container .grid-skills {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(108, 108, 108, 0.7);
  padding: 1.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-container .grid-skills .skill-card {
  /* background-color: rgb(108, 108, 108);
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out; */
  /* width: 10rem; */
}

/* Projects */
.projects-container {
  padding: 10rem 0;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  margin: 0 20px;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #1D1E20;
}

.project-card-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #FFCC17;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 1em;
  padding: .5rem 0 0 .7rem;
}

.project-card p {
  font-size: 16px;
  color: #b3b3b3;
  padding: 0 1rem;
}

.project-card-links {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.project-card-links i {
  transition: all 0.5s ease-in-out;
  color: #9B9C9D;
}

.project-card-links i:hover {
  color: #DADADB;
}

.project-card-links a {
  cursor: pointer;
}

.project-description {
  height: 250px;
  overflow-y: auto;
}

/* contact */
.contact-wrapper {
  padding-top: 20rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  /* margin-top: 20rem; */
  margin-bottom: 20rem;
  background-color: rgba(38, 38, 39, 0.7);
  padding: 1.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

/* Dropdown */
.dropbtn {
  all: unset;
  font-size: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: whitesmoke;
}
